#introduction
{
    background-color: #83c5be;
    height: 50%;
    width: 100%;
}

h1
{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    border-style: solid;
    border-width: 10px;
    padding: 3%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
}

img 
{
    width: 200px;
    height: 320px;
    float: left;
    margin-left: 30px;
}

#second
{
    margin-top: 10%;
    text-align: center;
}

#container
{
    background-color: #83c5be;
    width: 50%;
    height: 50%;
    padding-top: 3%;
    box-shadow: 5px 10px 10px black;
}

#sub_div
{
    color: white;
    font-family: 'Open Sans', sans-serif;
}
